.form__background {
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: $color1, $alpha: 0.8);
    z-index: 4;

}

.calendar__menu {
    box-shadow: inset 0px 0px 25px $black;
    font-family: $basic-font;
    padding: 2em;
    text-align: center;
    background-color: $color1;
    border-radius: 20px;
    height: 350px;
    width: 700px;
    position: fixed;
    z-index: 4;
    top: 50vh;
    color: $text-color;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    .close {
        position: absolute;
        right: 0.7em;
        top: 0.7em;
        font-size: 1.8em;
        transition: all 0.5s;
        background-color: $white;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.3em;
        width: 1.3em;
        border-radius: 50%;
        &:hover {
            scale: 0.9;
            color: $text-color;
            background-color: red;
            transform: rotate(90deg);
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__label {
            font-size: 1.2em;
            margin: 10px 0;
        }
        input {
            padding: 10px;
            width: 60%;
            height: 3em;
            border-radius: 10px;
            text-align: center;
            box-shadow: inset 0 0 10px $black;
            border: none;
        }
    }
    &__title {
        margin-bottom: 0.2em;
        font-size: 3em;
        font-weight: 700;
    }
    &__button {
        box-shadow: inset 0px 0px 5px 4px $black;
        margin: 1em;
        color: $text-color;
        font-weight: 700;
        background-color: $color3;
        font-size: 1.2em;
        &:hover {
            box-shadow: inset 0px 0px 5px 5px #000;
            background-color: lighten($color: $color3, $amount: 10%);
        }
    }

}