.footer {
    position: relative;
    font-family: $basic-font;
    color: $text-color;
    height: 5em;
    background-color: $color2;
    text-align: center;
    padding: 0.5em;
    &__info {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    &__date {
        font-size: 0.8em;
        margin-bottom: 1em;
    }
    &__logout {
        font-weight: 600;
        position: absolute;
        bottom: 1em;
        .icon {
            margin: 1em
        }
        &:hover {
            color: red;
        }
    }

}