
.main__calendar__box {
    background-color: $color2;
    width: 100%;
    .container {
        .calendar {
            font-family: 'Poppins', sans-serif;
            padding: 5em;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .calendar__title {
                color: #fff;
                font-size: 3em;
                margin-bottom: 1em;
            }
        }
    }
}