
.main__calendar__box {
    background-color: $color2;
    width: 100%;
    position: relative;
    .container {
        .calendar {
            .add {
                font-size: 2em;
                position: absolute;
                top: 1em;
                right: 1em;
                color: $text-color;
                &:hover {
                    color: greenyellow;
                }
            }
            font-family: $basic-font;
            padding: 5em;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .calendar__title {
                color: $text-color;
                font-size: 3em;
                margin-bottom: 1em;
            }
        }
    }
}