
.main__calendar__box {
    background-color: $color2;
    width: 100%;
    position: relative;
    .container {
        .calendar {
            .add {
                top: 1em;
            }
            .list {
                top: 3em;

            }
            .admin__icon {
                right: 1em;
                font-size: 2em;
                color: $text-color;
                position: absolute;
                &:hover {
                    color: greenyellow;
                }
            }
            font-family: $basic-font;
            padding: 3em;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .calendar__title {
                margin-bottom: 1em;
            }
        }
    }
}

.booking__list {
    padding: 1em;
    font-family: $basic-font;
    margin-bottom: 1em;
    .booking__list__title {
        color: $color2;
        text-align: center;
        margin: 0.5em;
    }
    .container{
        flex-wrap: wrap;
        gap: 0.5em;
        .list__element {
            font-size: 1.2em;
            line-height: 1.7em;
            flex-grow: 1;
            width: 40%;
            align-items: start;
            padding: 0.5em;
            color: $text-color;
            background-color: $color2;
            display: flex;
            flex-direction: column;
            strong {
                font-weight: 600;
            }
        }
    }
}

