.navigation {
    background-color: $color2;
    font-family: 'Poppins', sans-serif;
    
    .container {
        justify-content: space-between;
        height: 3em;
        align-items: center;
        .navigation__logo {
            .logo__title {
                color: #fff;
            }
        }
        .navigation__list {
            display: flex;
            width: 60%;
            justify-content: space-around;
            .navigation__list__element{
                a {
                    text-transform: uppercase;
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        color: $color3;
                    }
                }
            }
                
        }
    }
}