@import "/style/generic/reset";
@import "./settings/colors.scss";

@import "/style/elements/navbar";
@import "/style/elements/myCalendar";

.container {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    display: flex;
}