@import "/style/generic/reset";
@import "./settings/colors.scss";
@import "./settings/basicElements.scss";
@import "./settings/variables.scss";

@import "/style/elements/navbar";
@import "/style/elements/myCalendar";
@import "/style/elements/calendarForm";
@import "/style/elements/atractions";
@import "/style/elements/gallery";
@import "/style/elements/location";
@import "/style/elements/adminPanel";
@import "/style/elements/contact";
@import "/style/elements/adminMessages";
@import "/style/elements/footer";
@import 'react-big-calendar/lib/sass/styles';

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    display: flex;
}